---
BasedOnStyle: Mozilla
IndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
BreakBeforeBraces: Attach
---
